.footer {
  padding-block: 70px;
  box-shadow: inset var(--box-shadow);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 134px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h3 {
    margin-bottom: 15px;
    font-family: var(--ff-caps);
    font-size: 18px;
    color: hsl(var(--clr-black));
  }

  a {
    font-family: var(--ff-regular);
    font-size: 14px;
    color: #707070;
    text-decoration: none;
  }

  p {
    font-family: var(--ff-regular);
    font-size: 14px;
    color: #707070;
  }

  address {
    font-style: normal;

    a {
      color: hsl(var(--clr-theme));
    }
  }
}
