/* ტიპოგრაფია */
/* განლაგება */
.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* ფერი */
.text-white {
  color: hsl(var(--clr-white)) !important;
}

.text-black {
  color: hsl(var(--clr-black)) !important;
}

.text-gray {
  color: hsl(var(--clr-gray)) !important;
}

.text-accent {
  color: hsl(var(--clr-theme)) !important;
}

/* დაშორებები */
.mt-2 {
  margin-top: 27px !important;
}
