.home-card {
  padding: 60px 50px 80px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;

  @media only screen and (max-width: 520px) {
    padding: 20px;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;

    @media only screen and (max-width: 520px) {
      gap: 15px;
    }
  }

  h2 {
    font-family: var(--ff-caps);
    font-size: 30px;
    font-weight: 400;
    color: hsl(var(--clr-black));
    text-transform: uppercase;

    @media only screen and (max-width: 520px) {
      font-size: 1.25rem;
    }
  }

  p {
    color: #707070;
  }
}

@media only screen and (min-width: 1300px) {
  .alternating {
    .blog-card:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}

.article-card {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 730px 1fr;
  gap: 30px;

  @media only screen and (max-width: 1300px) {
    grid-template-columns: 1fr;
  }

  figure {
    height: 100%;
    max-height: 424px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__date {
    margin-bottom: 25px;
    font-family: var(--ff-caps);
    font-size: 20px;
    color: #aaaaaa;
    text-transform: uppercase;

    @media only screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }

  &__title {
    margin-bottom: 13px;
    font-family: var(--ff-caps);
    font-size: 20px;
    font-weight: 400;
    color: hsl(var(--clr-black));
    text-transform: uppercase;
  }

  p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: hsl(var(--clr-black));
  }

  &__btn {
    margin-top: 50px;
    width: 222px;
    height: 60px;
    display: grid;
    place-content: center;
    font-family: var(--ff-caps);
    font-size: 18px;
    color: hsl(var(--clr-white));
    text-decoration: none;
    background-color: hsl(var(--clr-theme));
    border-radius: 10px;

    transition: background-color 150ms ease-in-out;

    &:hover,
    &:focus {
      outline: none;
      background-color: hsl(var(--clr-black));
    }

    @media only screen and (max-width: 992px) {
      margin-top: 20px;
    }
  }
}

.blog-articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media only screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: 1300px) {
    grid-template-columns: 1fr;
  }
}

.blog-card {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  border: 1px solid #e3e3e3;

  @media only screen and (max-width: 1300px) {
    flex-direction: column;
  }

  & > * {
    flex-basis: 50%;

    @media only screen and (max-width: 1300px) {
      flex-basis: 100%;
    }
  }

  figure {
    height: 100%;
    max-height: 424px;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  &__content {
    padding: 50px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 768px) {
      padding: 15px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: var(--ff-caps);
    font-size: 20px;
    font-weight: 400;
    color: hsl(var(--clr-black));
    text-transform: uppercase;
  }

  p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #6e6e6e;
  }

  &__btn {
    margin-top: auto;
    width: 200px;
    height: 60px;
    display: grid;
    place-content: center;
    font-family: var(--ff-caps);
    font-size: 18px;
    color: hsl(var(--clr-white));
    text-decoration: none;
    background-color: hsl(var(--clr-theme));
    border-radius: 15px;

    transition: background-color 150ms ease-in-out;

    &:hover,
    &:focus {
      outline: none;
      background-color: hsl(var(--clr-black));
    }
  }
}
