[data-tab-content] {
  display: none;

  &.active {
    display: block;
  }
}

.deputy {
  display: grid;
  grid-template-columns: 1fr 426px;
  gap: 30px;

  &__tabs > div {
    height: 100%;
  }

  &__personal-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__bio {
    margin-bottom: 30px;
    padding: 20px 30px;
    display: flex;
    gap: 30px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: right;

    h3 {
      font-family: var(--ff-caps);
      font-size: 10px;
      font-weight: 400;
      color: hsl(var(--clr-black));
      text-transform: uppercase;
    }

    p {
      font-size: 10px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 11px;
    font-size: 10px;
    color: hsl(var(--clr-black));
    text-decoration: none;

    i {
      flex-shrink: 0;
      color: #707070;
    }
  }

  &__birthdate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 11px;

    i {
      color: #707070;
    }
  }

  &__image {
    position: relative;
  }

  &__photo {
    width: 166px;
    height: 166px;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__party {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: var(--box-shadow);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-family: var(--ff-caps);
    font-size: 14px;
    font-weight: 400;
    color: hsl(var(--clr-theme));
    text-transform: uppercase;
  }

  &__nav {
    margin-bottom: 30px;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      &:first-child {
        button {
          border-radius: 10px 10px 0 0;
        }
      }

      &:last-child {
        button {
          border-radius: 0 0 10px 10px;
        }
      }
    }

    button {
      width: 100%;
      height: 60px;
      font-family: var(--ff-caps);
      font-size: 1rem;
      color: hsl(var(--clr-black));
      text-transform: uppercase;
      text-align: right;
      padding-right: 24px;
      background-color: hsl(var(--clr-white));
      border: 1px solid #d1d1d1;
      transition: all 150ms ease-in-out;

      &:hover,
      &:focus {
        color: hsl(var(--clr-white));
        background-color: hsl(var(--clr-theme));
        outline: none;
      }

      &.active {
        color: hsl(var(--clr-white));
        background-color: hsl(var(--clr-theme));
        border-color: transparent;
      }
    }
  }

  &__analitycs,
  &__backlink {
    margin-bottom: 30px;

    button,
    a {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 24px;
      text-decoration: none;
      background-color: hsl(var(--clr-white));
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      transition: all 150ms ease-in-out;

      &:hover,
      &:focus {
        span,
        i {
          color: hsl(var(--clr-white));
        }

        background-color: hsl(var(--clr-theme));
        outline: none;
      }

      &.active {
        span,
        i {
          color: hsl(var(--clr-white));
        }

        background-color: hsl(var(--clr-theme));
        border-color: transparent;
      }

      span {
        font-family: var(--ff-caps);
        font-size: 1rem;
        color: hsl(var(--clr-black));
        text-transform: uppercase;
        transition: all 150ms ease-in-out;
      }

      i {
        color: #b4b4b4;
      }
    }
  }

  &__backlink {
    margin-bottom: 0;

    a {
      border-color: hsl(var(--clr-theme));

      span {
        color: hsl(var(--clr-theme));
      }

      i {
        color: hsl(var(--clr-theme));
      }
    }
  }

  .social-media {
    margin-top: 0;
  }
}

.general-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;

  &__col {
    background-color: hsl(var(--clr-white));
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }

  h2 {
    padding: 16px 30px;
    font-family: var(--ff-caps);
    font-size: 18px;
    font-weight: 400;
    color: hsl(var(--clr-theme));
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1;
  }

  &__section {
    padding: 20px 30px;

    &:not(:last-child) {
      border-bottom: 1px solid #d1d1d1;
    }
  }

  h3 {
    margin-bottom: 18px;
    font-family: var(--ff-caps);
    font-size: 16px;
    font-weight: 400;
    color: hsl(var(--clr-black));
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    padding-left: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  li,
  p {
    font-size: 14px;
    color: hsl(var(--clr-black));
  }
}
