.file {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 30px;

  @media only screen and (max-width: 680px) {
    margin-bottom: 50px;
    gap: 20px;
    grid-template-columns: 1fr;
  }

  &--w-time {
    grid-template-columns: 3fr 2fr 2fr;

    @media only screen and (max-width: 1080px) {
      grid-template-columns: 1fr 1fr;

      .file__title {
        grid-column: span 2;
      }

      .file__details,
      .file__time {
        padding-block: 10px;
      }
    }

    @media only screen and (max-width: 580px) {
      grid-template-columns: 1fr;

      .file__title,
      .file__details,
      .file__time {
        grid-column: 1 / 2;
      }
    }
  }

  &__title {
    padding: 30px;
    font-family: var(--ff-regular);
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--clr-black));
    box-shadow: var(--box-shadow);
    border-radius: 10px;
  }

  &__time {
    display: grid;
    place-content: center;
    font-family: var(--ff-caps);
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--clr-black));
    text-transform: uppercase;
    background-color: #f3f3f3;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
  }

  &__details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: var(--ff-caps);
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--clr-white));
    text-decoration: none;
    background-color: hsl(var(--clr-theme));
    box-shadow: var(--box-shadow);
    border-radius: 10px;

    transition: background-color 150ms ease-in-out;

    &:hover,
    &:focus {
      outline: none;
      background-color: hsl(var(--clr-black));
    }

    @media only screen and (max-width: 680px) {
      padding-block: 10px;
    }

    i {
      color: hsl(var(--clr-white));
      font-size: 30px;
    }

    span {
      @media only screen and (max-width: 992px) {
        display: none;
      }

      @media only screen and (max-width: 680px) {
        display: block;
      }
    }
  }
}
