.nav {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  overflow-y: auto;
  padding-block: 1em;
  background-color: hsl(var(--clr-white));
  box-shadow: var(--box-shadow);

  transform: scaleX(0);
  opacity: 0;
  transform-origin: right;
  transition: all 200ms ease-in-out;

  @media only screen and (min-width: 1200px) {
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    min-height: unset;
    padding-block: unset;
    background-color: unset;
    box-shadow: unset;
    transform: unset;
    overflow-y: unset;
    opacity: 1;
    height: 100%;
  }

  &.active {
    opacity: 1;
    transform: scaleX(1);
    z-index: 10;
  }

  & > ul {
    margin: 0;
    padding: 0;

    @media only screen and (min-width: 1200px) {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  ul {
    list-style-type: none;
  }

  span {
    margin-block: 0.75em;
  }

  a {
    padding: 13px 2.5em;
  }

  span {
    padding-inline: 1.75em;
  }

  a,
  span {
    display: block;
    font-size: 14px;
    color: hsl(var(--clr-black));
    text-decoration: none;
  }

  a {
    transition: all 150ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background-color: hsl(var(--clr-theme));
      color: hsl(var(--clr-white));

      @media only screen and (min-width: 1200px) {
        background-color: transparent;
        color: hsl(var(--clr-theme));
      }
    }
  }

  button {
    margin-left: auto;
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    transition: all 150ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background-color: hsl(var(--clr-theme));
      color: hsl(var(--clr-white));
    }
  }
}

.open-nav,
.close-nav {
  @media only screen and (min-width: 1200px) {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .nav {
    & > ul {
      gap: 30px;
    }

    & > ul > li > a {
      padding-inline: 0;
    }
  }
  .dropdown {
    position: relative;
    z-index: 10;

    &:hover,
    // &:focus,
    &:focus-within,
    &.active {
      .dropdown__content {
        opacity: 1;
        transform: scaleY(1);
      }

      span {
        color: hsl(var(--clr-theme));
      }
    }

    span {
      cursor: pointer;
      padding-inline: 0;

      &:hover,
      &:active,
      &:focus {
        color: hsl(var(--clr-theme));
      }
    }

    &__content {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: white;
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-radius: 0 0 10px 10px;
      box-shadow: var(--box-shadow);
      overflow: hidden;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 150ms ease-in-out;

      a {
        &:hover,
        &:active,
        &:focus {
          outline: none;
          background-color: hsl(var(--clr-theme));
          color: hsl(var(--clr-white));
        }
      }
    }
  }
}
