@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: "BPG Mrgvlovani 2010";
  src: url("../fonts/BPGMrgvlovani2010.woff2") format("woff2"), url("../fonts/BPGMrgvlovani2010.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Mrgvlovani Caps 2010";
  src: url("../fonts/BPGMrgvlovaniCaps2010.woff2") format("woff2"), url("../fonts/BPGMrgvlovaniCaps2010.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG ExtraSquare Mtavruli";
  src: url("../fonts/BPGExtraSquareMtavruli.woff2") format("woff2"), url("../fonts/BPGExtraSquareMtavruli.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;
  --clr-theme: 14 100% 60%;
  --clr-gray: 0 0% 44%;
  --ff-regular: "BPG Mrgvlovani 2010", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --ff-caps: "BPG Mrgvlovani Caps 2010", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --ff-caps-extra: "BPG ExtraSquare Mtavruli", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --box-shadow: 0 3px 6px hsl(var(--clr-black) / 0.16);
}

/* ტიპოგრაფია */
/* განლაგება */
.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* ფერი */
.text-white {
  color: hsl(var(--clr-white));
}

.text-black {
  color: hsl(var(--clr-black));
}

.text-gray {
  color: hsl(var(--clr-gray));
}

.text-accent {
  color: hsl(var(--clr-theme));
}

/* დაშორებები */
.mt-2 {
  margin-top: 27px !important;
}

/* Global Styles */
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "BPG Mrgvlovani 2010", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

p {
  font-family: "BPG Mrgvlovani 2010", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.backlink {
  margin-top: 30px;
}
.backlink a {
  display: flex;
  align-items: center;
  gap: 50px;
  text-decoration: none;
}
.backlink a i {
  display: grid;
  place-content: center;
  width: 50px;
  height: 60px;
  font-size: 24px;
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-theme));
  border-radius: 10px;
}
.backlink a span {
  font-family: var(--ff-caps-extra);
  font-size: 18px;
  color: #343434;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

.page-wrapper {
  margin-top: 50px;
  margin-bottom: 70px;
}

/* Header */
.header {
  box-shadow: var(--box-shadow);
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__right {
  display: flex;
}
.header__logo {
  display: flex;
  align-items: center;
  padding-block: 14px;
}
.header__logo img {
  height: 50px;
  width: auto;
}
@media only screen and (min-width: 1200px) {
  .header__logo img {
    height: 86px;
  }
}
.header__actions {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(1em);
}
.header button {
  height: 100%;
  display: grid;
  place-content: center;
  background-color: transparent;
  border: none;
  transition: all 150ms ease-in-out;
  padding-inline: 1em;
}
.header button:hover {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-theme));
}
.header button span {
  display: block;
}
.header__search {
  position: relative;
  height: 100%;
}
.header__search:hover .header__search__box, .header__search:focus .header__search__box {
  opacity: 1;
  transform: scaleY(1);
}
.header__search__box {
  position: absolute;
  right: 0;
  top: 78%;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 150ms ease-in-out;
}
.header__search__box.active {
  opacity: 1;
  transform: scaleY(1);
}
.header__search__box input {
  padding: 16px 35px;
  background-color: hsl(var(--clr-white));
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: all 150ms ease-in-out;
}
.header__search__box input:focus {
  outline-color: hsl(var(--clr-theme));
}
.header__lang {
  position: relative;
  height: 100%;
}
.header__lang:hover .header__lang__options, .header__lang:focus .header__lang__options {
  transform: scaleY(1);
  opacity: 1;
}
.header__lang.active .header__lang__options {
  opacity: 1;
  transform: scaleY(1);
}
.header__lang.active button {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-theme));
}
.header__lang button {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__lang button i {
  transform: translateY(-2px);
}
.header__lang__options {
  position: absolute;
  top: 78%;
  margin: 0;
  padding: 0;
  width: 75px;
  list-style-type: none;
  background-color: hsl(var(--clr-white));
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 150ms ease-in-out;
}
.header__lang__options a {
  display: block;
  padding-inline: 1em;
  padding-block: 13px;
  font-family: var(--ff-caps);
  font-size: 1rem;
  color: #707070;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.header__lang__options a:hover, .header__lang__options a:focus {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-theme));
}

.footer {
  padding-block: 70px;
  box-shadow: inset var(--box-shadow);
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 134px;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer h3 {
  margin-bottom: 15px;
  font-family: var(--ff-caps);
  font-size: 18px;
  color: hsl(var(--clr-black));
}
.footer a {
  font-family: var(--ff-regular);
  font-size: 14px;
  color: #707070;
  text-decoration: none;
}
.footer p {
  font-family: var(--ff-regular);
  font-size: 14px;
  color: #707070;
}
.footer address {
  font-style: normal;
}
.footer address a {
  color: hsl(var(--clr-theme));
}

.social-media {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.social-media--right {
  justify-content: flex-end;
}
.social-media a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: grid;
  place-content: center;
  border: 2px solid hsl(var(--clr-black));
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.social-media a:hover, .social-media a:active {
  border-color: hsl(var(--clr-theme));
}
.social-media a:hover i, .social-media a:active i {
  color: hsl(var(--clr-theme));
}
.social-media a i {
  color: hsl(var(--clr-black));
  transition: all 150ms ease-in-out;
}

.text-wrapper {
  padding: 22px 30px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.text-wrapper:not(:last-child) {
  margin-bottom: 30px;
}
.text-wrapper ul,
.text-wrapper ol {
  padding-inline-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text-wrapper ul {
  list-style-type: none;
}
.text-wrapper ul li::before {
  content: "•";
  color: hsl(var(--clr-theme));
  font-size: 1.25rem;
}
.text-wrapper h2,
.text-wrapper h3,
.text-wrapper h4 {
  font-family: var(--ff-caps);
  font-weight: 400;
  color: hsl(var(--clr-theme));
}
.text-wrapper p {
  font-size: 1rem;
  color: hsl(var(--clr-black));
  margin-bottom: 30px;
}
.text-wrapper h2 {
  font-size: 1rem;
}

.page-title {
  margin-bottom: 31px;
  font-family: var(--ff-caps);
  font-size: 30px;
  font-weight: 400;
  color: hsl(var(--clr-theme));
  text-transform: uppercase;
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  column-gap: 79px;
  row-gap: 72px;
}

.team-member--w-border {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.team-member--w-border > div {
  padding-bottom: 20px;
  padding-inline: 10px;
}
.team-member__photo {
  width: 100%;
  height: 376px;
  overflow: hidden;
  border-radius: 10px;
}
.team-member__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-member__name {
  margin-top: 28px;
  margin-bottom: 11px;
  font-family: var(--ff-caps);
  font-size: 18px;
  font-weight: 400;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
  text-align: center;
}
.team-member__name a {
  color: inherit;
  text-decoration: none;
}
.team-member__job {
  margin-bottom: 20px;
  font-family: var(--ff-regular);
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.team-member .social-media {
  padding: 0;
  justify-content: center;
}

.team-member-grid {
  display: grid;
  grid-template-columns: 315px auto;
  gap: 30px;
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  overflow-y: auto;
  padding-block: 1em;
  background-color: white;
  box-shadow: var(--box-shadow);
  transform: scaleX(0);
  opacity: 0;
  transform-origin: right;
  transition: all 150ms ease-in-out;
}
@media only screen and (min-width: 1200px) {
  .nav {
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    min-height: unset;
    padding-block: unset;
    background-color: unset;
    box-shadow: unset;
    transform: unset;
    overflow-y: unset;
    opacity: 1;
    height: 100%;
  }
}
.nav.active {
  opacity: 1;
  transform: scaleX(1);
  z-index: 10;
}
.nav > ul {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 1200px) {
  .nav > ul {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.nav ul {
  list-style-type: none;
}
.nav span {
  margin-block: 0.75em;
}
.nav a {
  padding: 13px 2.5em;
}
.nav span {
  padding-inline: 1.75em;
}
.nav a,
.nav span {
  display: block;
  font-size: 14px;
  color: hsl(var(--clr-black));
  text-decoration: none;
}
.nav a {
  transition: all 150ms ease-in-out;
}
.nav a:hover, .nav a:active {
  background-color: hsl(var(--clr-theme));
  color: hsl(var(--clr-white));
}
@media only screen and (min-width: 1200px) {
  .nav a:hover, .nav a:active {
    background-color: transparent;
    color: hsl(var(--clr-theme));
  }
}
.nav button {
  margin-left: auto;
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  transition: all 150ms ease-in-out;
}
.nav button:hover, .nav button:active {
  background-color: hsl(var(--clr-theme));
  color: hsl(var(--clr-white));
}

@media only screen and (min-width: 1200px) {
  .open-nav,
.close-nav {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .nav > ul {
    gap: 30px;
  }
  .nav > ul > li > a {
    padding-inline: 0;
  }

  .dropdown {
    position: relative;
  }
  .dropdown:hover .dropdown__content, .dropdown:focus .dropdown__content, .dropdown:focus-within .dropdown__content, .dropdown:focus-visible .dropdown__content {
    opacity: 1;
    transform: scaleY(1);
  }
  .dropdown span {
    cursor: pointer;
    padding-inline: 0;
  }
  .dropdown span:hover, .dropdown span:active {
    color: hsl(var(--clr-theme));
  }
  .dropdown__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 150ms ease-in-out;
  }
  .dropdown__content a:hover, .dropdown__content a:active {
    background-color: hsl(var(--clr-theme));
    color: hsl(var(--clr-white));
  }
}
.article figure {
  float: left;
  margin-right: 30px;
}
.article > * + * {
  margin-top: 30px;
}
.article__footer {
  margin-top: 35px;
}
.article__footer ul,
.article__footer ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article__actions {
  margin-top: 45px;
  display: flex;
  gap: 20px;
}
.article__actions a {
  height: 50px;
  padding-inline: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
.article__actions a span {
  font-family: var(--ff-caps);
  color: hsl(var(--clr-white));
  font-size: 14px;
  text-transform: uppercase;
}
.article__actions a i {
  color: hsl(var(--clr-white));
}
.article__share-fb {
  background-color: #0071c8;
}
.article__backlink {
  background-color: hsl(var(--clr-theme));
}

.date {
  font-family: var(--ff-regular);
  font-size: 1rem;
  color: #707070;
}

.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner--home {
  height: 240px;
  display: grid;
  place-content: center;
}
@media only screen and (min-width: 992px) {
  .banner--home {
    height: 420px;
  }
}
@media only screen and (min-width: 1480px) {
  .banner--home {
    height: 600px;
  }
}
.banner--home button {
  display: grid;
  place-content: center;
  width: 150px;
  height: 150px;
  background-color: hsl(var(--clr-theme));
  border: none;
  border-radius: 100%;
}
.banner--home button i {
  color: hsl(var(--clr-white));
  transform: translateX(5px);
}

.home-card {
  padding: 60px 50px 80px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
}
.home-card > div {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.home-card h2 {
  font-family: var(--ff-caps);
  font-size: 30px;
  font-weight: 400;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
}
.home-card p {
  color: #707070;
}

.article-card {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 30px;
}
.article-card figure {
  height: 424px;
}
.article-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-card__date {
  margin-bottom: 25px;
  font-family: var(--ff-caps);
  font-size: 20px;
  color: #aaaaaa;
  text-transform: uppercase;
}
.article-card__title {
  margin-bottom: 13px;
  font-family: var(--ff-caps);
  font-size: 20px;
  font-weight: 400;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
}
.article-card p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: hsl(var(--clr-black));
}
.article-card__btn {
  margin-top: 50px;
  width: 222px;
  height: 60px;
  display: grid;
  place-content: center;
  font-family: var(--ff-caps);
  font-size: 18px;
  color: hsl(var(--clr-white));
  text-decoration: none;
  background-color: hsl(var(--clr-theme));
  border-radius: 10px;
}

.alternating .blog-card:nth-child(2n) {
  flex-direction: row-reverse;
}

.blog-card {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  border: 1px solid #e3e3e3;
}
.blog-card > * {
  flex-basis: 50%;
}
.blog-card figure {
  height: 100%;
}
.blog-card figure img {
  width: 100%;
  height: 100%;
}
.blog-card__content {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.blog-card__title {
  margin-bottom: 20px;
  font-family: var(--ff-caps);
  font-size: 20px;
  font-weight: 400;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
}
.blog-card p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #6e6e6e;
}
.blog-card__btn {
  margin-top: auto;
  width: 200px;
  height: 60px;
  display: grid;
  place-content: center;
  font-family: var(--ff-caps);
  font-size: 18px;
  color: hsl(var(--clr-white));
  text-decoration: none;
  background-color: hsl(var(--clr-theme));
  border-radius: 15px;
}

[data-tab-content] {
  display: none;
}
[data-tab-content].active {
  display: block;
}

.deputy {
  display: grid;
  grid-template-columns: 1fr 426px;
  gap: 30px;
}
.deputy__tabs > div {
  height: 100%;
}
.deputy__personal-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.deputy__bio {
  margin-bottom: 30px;
  padding: 20px 30px;
  display: flex;
  gap: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: right;
}
.deputy__bio h3 {
  font-family: var(--ff-caps);
  font-size: 10px;
  font-weight: 400;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
}
.deputy__bio p {
  font-size: 10px;
}
.deputy__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 11px;
  font-size: 10px;
  color: hsl(var(--clr-black));
  text-decoration: none;
}
.deputy__link i {
  flex-shrink: 0;
  color: #707070;
}
.deputy__birthdate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 11px;
}
.deputy__birthdate i {
  color: #707070;
}
.deputy__image {
  position: relative;
}
.deputy__photo {
  width: 166px;
  height: 166px;
  overflow: hidden;
  border-radius: 10px;
}
.deputy__photo img {
  width: 100%;
  height: 100%;
}
.deputy__party {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}
.deputy__party img {
  width: 100%;
  height: 100%;
}
.deputy__name {
  font-family: var(--ff-caps);
  font-size: 14px;
  font-weight: 400;
  color: hsl(var(--clr-theme));
  text-transform: uppercase;
}
.deputy__nav {
  margin-bottom: 30px;
}
.deputy__nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.deputy__nav li:first-child button {
  border-radius: 10px 10px 0 0;
}
.deputy__nav li:last-child button {
  border-radius: 0 0 10px 10px;
}
.deputy__nav button {
  width: 100%;
  height: 60px;
  font-family: var(--ff-caps);
  font-size: 1rem;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
  text-align: right;
  padding-right: 24px;
  background-color: hsl(var(--clr-white));
  border: 1px solid #d1d1d1;
  transition: all 150ms ease-in-out;
}
.deputy__nav button:hover, .deputy__nav button:focus {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-theme));
  outline: none;
}
.deputy__nav button.active {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-theme));
  border-color: transparent;
}
.deputy__analitycs, .deputy__backlink {
  margin-bottom: 30px;
}
.deputy__analitycs button,
.deputy__analitycs a, .deputy__backlink button,
.deputy__backlink a {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
  text-decoration: none;
  background-color: hsl(var(--clr-white));
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.deputy__analitycs button:hover, .deputy__analitycs button:focus,
.deputy__analitycs a:hover,
.deputy__analitycs a:focus, .deputy__backlink button:hover, .deputy__backlink button:focus,
.deputy__backlink a:hover,
.deputy__backlink a:focus {
  background-color: hsl(var(--clr-theme));
  outline: none;
}
.deputy__analitycs button:hover span,
.deputy__analitycs button:hover i, .deputy__analitycs button:focus span,
.deputy__analitycs button:focus i,
.deputy__analitycs a:hover span,
.deputy__analitycs a:hover i,
.deputy__analitycs a:focus span,
.deputy__analitycs a:focus i, .deputy__backlink button:hover span,
.deputy__backlink button:hover i, .deputy__backlink button:focus span,
.deputy__backlink button:focus i,
.deputy__backlink a:hover span,
.deputy__backlink a:hover i,
.deputy__backlink a:focus span,
.deputy__backlink a:focus i {
  color: hsl(var(--clr-white));
}
.deputy__analitycs button.active,
.deputy__analitycs a.active, .deputy__backlink button.active,
.deputy__backlink a.active {
  background-color: hsl(var(--clr-theme));
  border-color: transparent;
}
.deputy__analitycs button.active span,
.deputy__analitycs button.active i,
.deputy__analitycs a.active span,
.deputy__analitycs a.active i, .deputy__backlink button.active span,
.deputy__backlink button.active i,
.deputy__backlink a.active span,
.deputy__backlink a.active i {
  color: hsl(var(--clr-white));
}
.deputy__analitycs button span,
.deputy__analitycs a span, .deputy__backlink button span,
.deputy__backlink a span {
  font-family: var(--ff-caps);
  font-size: 1rem;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}
.deputy__analitycs button i,
.deputy__analitycs a i, .deputy__backlink button i,
.deputy__backlink a i {
  color: #b4b4b4;
}
.deputy__backlink {
  margin-bottom: 0;
}
.deputy__backlink a {
  border-color: hsl(var(--clr-theme));
}
.deputy__backlink a span {
  color: hsl(var(--clr-theme));
}
.deputy__backlink a i {
  color: hsl(var(--clr-theme));
}
.deputy .social-media {
  margin-top: 0;
}

.general-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
}
.general-info__col {
  background-color: hsl(var(--clr-white));
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.general-info h2 {
  padding: 16px 30px;
  font-family: var(--ff-caps);
  font-size: 18px;
  font-weight: 400;
  color: hsl(var(--clr-theme));
  text-transform: uppercase;
  border-bottom: 1px solid #d1d1d1;
}
.general-info__section {
  padding: 20px 30px;
}
.general-info__section:not(:last-child) {
  border-bottom: 1px solid #d1d1d1;
}
.general-info h3 {
  margin-bottom: 18px;
  font-family: var(--ff-caps);
  font-size: 16px;
  font-weight: 400;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
}
.general-info ul {
  padding: 0;
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.general-info li,
.general-info p {
  font-size: 14px;
  color: hsl(var(--clr-black));
}

.vacancy {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  gap: 30px;
}
.vacancy__title {
  padding: 30px;
  font-family: var(--ff-regular);
  font-size: 1rem;
  font-weight: 400;
  color: hsl(var(--clr-black));
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.vacancy__time {
  display: grid;
  place-content: center;
  font-family: var(--ff-caps);
  font-size: 1rem;
  font-weight: 400;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
  background-color: #f3f3f3;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.vacancy__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: var(--ff-caps);
  font-size: 1rem;
  font-weight: 400;
  color: hsl(var(--clr-white));
  text-decoration: none;
  background-color: hsl(var(--clr-theme));
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.vacancy__details i {
  color: hsl(var(--clr-white));
  font-size: 30px;
}

.file {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 30px;
}
.file--w-time {
  grid-template-columns: 3fr 2fr 2fr;
}
.file__title {
  padding: 30px;
  font-family: var(--ff-regular);
  font-size: 1rem;
  font-weight: 400;
  color: hsl(var(--clr-black));
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.file__time {
  display: grid;
  place-content: center;
  font-family: var(--ff-caps);
  font-size: 1rem;
  font-weight: 400;
  color: hsl(var(--clr-black));
  text-transform: uppercase;
  background-color: #f3f3f3;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.file__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: var(--ff-caps);
  font-size: 1rem;
  font-weight: 400;
  color: hsl(var(--clr-white));
  text-decoration: none;
  background-color: hsl(var(--clr-theme));
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.file__details i {
  color: hsl(var(--clr-white));
  font-size: 30px;
}

.pagination {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.pagination a {
  display: block;
  font-family: var(--ff-caps);
  font-size: 18px;
  color: hsl(var(--clr-black));
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.pagination a.active {
  color: hsl(var(--clr-theme));
}
.pagination a:hover, .pagination a:active {
  color: hsl(var(--clr-theme));
}
.pagination i {
  font-size: 22px;
  color: hsl(var(--clr-theme));
  transform: translateY(2px);
}

.parties {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 308px);
  gap: 35px;
  justify-content: space-between;
}

.party figure {
  width: 308px;
  height: 308px;
  overflow: hidden;
  border-radius: 10px;
}
.party figure img {
  width: 100%;
  height: 100%;
}
.party a {
  text-decoration: none;
}
.party__name {
  margin-top: 22px;
  font-family: var(--ff-regular);
  font-size: 18px;
  font-weight: 400;
  color: hsl(var(--clr-black));
}

.home-cards {
  padding-block: 50px 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(397px, 1fr));
  gap: 30px;
}

/*# sourceMappingURL=styles.css.map */
